=render 'shared/public_nav'


%p= sanitize @profile.bio
%h2 Carousel Images:
- begin
  -@profile.images.each do |image|
    -if image.public
      =image_tag(image.photo)
      =image.subtitle
- rescue
  %p no images yet

%h2 Beverages donated to this profile
-@profile.beverages.each do |beverage|
  %p= beverage.quantity
  - begin
    %p= beverage.donation.message
    %p= beverage.donation.occupation
    %p= beverage.donation.contributor
    %hr
  - rescue
    %p no message here

%br


= link_to 'Dar abrazos o cafes a ' + @profile.fullname.split[0], donationsmanager_menu_path(@profile)

