
=render 'shared/admin_nav'
=link_to '< Listado de imagenes', profile_images_path(current_user.profile)
%h1 Editar Image

%p Imagen del carousel
%p Editar imagen que se mostrara en el carousel del perfil publico

%p Datos de la imagen
%p Parametros de la publicacion y leyenda de la imagen a mostrarse en el carousel

= form_with(model: @image, local: true) do |form|
  - if @image.errors.any?
    #error_explanation
      %h2
        = pluralize(@image.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - @image.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    = form.label :photo, 'Cargar imagen'
    = form.file_field :photo, class: 'form-control'
  .field.form-group
    = form.label :subtitle, 'Subtitulo'
    = form.text_field :subtitle, class: 'form-control'
  .field.form-group
    = form.label :public, 'Mostrar esta imagen en el perfil publico'
    = form.check_box :public, class: 'form-control'

  .actions
    = form.submit 'Guardar', class: 'btn btn-info btn-lg btn-block'


- begin
  =image_tag(@image.photo)
- rescue
  %p no image yet
